<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/Timo">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body class="timo-layout-page">
<div class="layui-card">
    <div class="layui-card-header timo-card-header">
        <span th:text="@{试卷 + ${testPaper.testname}} + 批改"><i class="fa fa-bars"></i></span>
        <i class="layui-icon layui-icon-refresh refresh-btn"></i>
    </div>
    <div class="layui-card-body">
        <div class="layui-row timo-card-screen">
            <div class="pull-left layui-form-pane timo-search-box">
            </div>
        </div>
        <div class="timo-table-wrap">
            <table class="layui-table timo-table timo-table-fixed">
                <thead>
                <tr>
                    <th class="timo-table-checkbox">
                        <label class="timo-checkbox"><input type="checkbox">
                            <i class="layui-icon layui-icon-ok"></i></label>
                    </th>
                    <th class="sortable" data-field="id">编号</th>
                    <th class="sortable" data-field="userNickName">考生姓名</th>
                    <!--<th class="sortable" data-field="isreadover">是否批阅</th>-->
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item,itemStat:${list}">
                    <td><label class="timo-checkbox"><input type="checkbox" th:value="${item.id}">
                        <i class="layui-icon layui-icon-ok"></i></label></td>
                    <td th:text="${itemStat.count}">编号</td>
                    <td th:text="${item.userNickName}">考生姓名</td>
                    <!--<td th:if="item.isreadover == 0" text="未批阅">是否批阅</td>-->
                    <td>
                        <a data-title="编辑试题" th:href="@{'/system/testpaper/getPaperById/'+${item.id}}">批改试卷</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script th:replace="/common/template :: script"></script>
</body>
</html>