<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
<div class="layui-form timo-compile">
    <form th:action="@{/system/singlechoice/add}">
        <input type="hidden" name="id" th:if="${item}" th:value="${item.id}"/>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label required">题目</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="subject">[[${item?.subject}]]</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">选项A</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="choiceA"  placeholder="请输入内容" th:value="${item?.choiceA}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">选项B</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="choiceB"  placeholder="请输入内容" th:value="${item?.choiceB}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">选项C</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="choiceC"  placeholder="请输入内容" th:value="${item?.choiceC}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">选项D</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="choiceD"  placeholder="请输入内容" th:value="${item?.choiceD}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">答案</label>
            <div class="layui-input-inline">
                <select name="answer" id="addNew"  th:value="${item?.answer}">
                    <option value="A" th:selected="${item?.answer=='A'}">A</option>
                    <option value="B" th:selected="${item?.answer=='B'}">B</option>
                    <option value="C" th:selected="${item?.answer=='C'}">C</option>
                    <option value="D" th:selected="${item?.answer=='D'}">D</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">分值</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="number" name="mark"  placeholder="请输入题目分值" th:value="${item?.mark}"/>
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
</body>
</html>